body {
    background-image: url("LAPTOPS/b2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
background-color:white ;
    padding: 150px
}
.img{
    width: 60px;
    height: 30px;

}

